/* RubricForm.css */
.rubric-form-container {
    width: 100%; /* Set a percentage width to make the form responsive */
    max-width: 500px;
    margin: 0 auto;
    margin-left: 50px;
}

.form-group {
    margin-bottom: 15px;
}
h2{
    margin-bottom: 40px;
    font-family: Arial, sans-serif;

}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
.alt-name{
    font-weight: lighter;
    color: seagreen;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: Arial, sans-serif;
}

textarea{
    height:150px;
    width: 100%;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3d8778;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #2f6c5e;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .rubric-form-container {
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .rubric-form-container {
        width: 100%;
    }
}